<% if(rs.length > 0) { %>
<h1>User Account Info</h1>
Name: <%= rs[0].fname %> <%= rs[0].lname %><br />
Email: <%= rs[0].email %>

<% if(addressResults.length > 0) { %>
<h1>User Account Addresses</h1>
<table border="1">
    <tr><th>Street</th><th>City</th><th>State</th><th>Zip</th></tr>
    <% addressResults.forEach(function(entry) { %>
    <td><%= entry.street %></td><td><%= entry.city %></td><td><%= entry.state %></td><td><%= entry.zip %></td>
    <%}); // end forEach %>
</table>

<a href="/accounts/new_address?user_id=<%= user_id %>&firstname=<%= rs[0].fname %>&lastname=<%= rs[0].lname %>">Associate Account with another Address</a>
<% } %>

<% } else { %>
No account matched this account id <%= user_id %>.
<% } %>